<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.sys.user.dao.StudentDao">
  <resultMap id="BaseResultMap" type="com.cn.sys.user.pojo.Student">
    <id column="name" jdbcType="VARCHAR" property="name" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="school" jdbcType="VARCHAR" property="school" />
    <result column="stu_class" jdbcType="VARCHAR" property="stuClass" />
  </resultMap>
  <sql id="Base_Column_List">
    name, id, password, number, school, stu_class
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_student
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_student
    where number= #{number,jdbcType=VARCHAR}
  </select>
    <select id="findByPaging" parameterType="com.cn.sys.user.pojo.PagingVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_student
        limit #{toPageNo}, #{pageSize}
    </select>
  <select id="countStudent" resultType="java.lang.Integer">
        select count(name)
        from tb_student
  </select>
   <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_student
    where id= #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_student
    where name = #{name,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from tb_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.sys.user.pojo.Student">
    insert into tb_student (name, id, password, 
      number, school, stu_class
      )
    values (#{name,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{school,jdbcType=VARCHAR}, #{stuClass,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.sys.user.pojo.Student">
    insert into tb_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="stuClass != null">
        stu_class,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        #{stuClass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.sys.user.pojo.Student">
    update tb_student
    <set>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="stuClass != null">
        stu_class = #{stuClass,jdbcType=VARCHAR},
      </if>
    </set>
    where name = #{name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.sys.user.pojo.Student">
    update tb_student
    set id = #{id,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      stu_class = #{stuClass,jdbcType=VARCHAR}
    where name = #{name,jdbcType=VARCHAR}
  </update>
</mapper>